numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
altair==5.5.0
streamlit==1.48.1
git+https://github.com/streamlit/gsheets-connection
st_gsheets_connection==0.1.0
st-annotated-text==4.0.2
st-clickable-images==0.0.3
plotly==6.3.0
pyyaml==6.0.1
pywaffle==1.1.1
opencv-python==4.10.0.84