.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.consolas-font {
        font-family: 'Consolas', monospace;
        font-size: 12px;
        }
.rounded-image {
        border-radius: 0px;
        border: 2px solid;
        border-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    }
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.happy {
  background-color: #f7add6;
}
.redd {
  background-color: lightblue;
}

.happy_square {
    height: 12px;
    width: 12px;
    background-color: #f7add6;
    display: inline-block;
}

.loved_square {
    height: 12px;
    width: 12px;
    background-color: #f2687f;
    display: inline-block;
}

.confident_square {
    height: 12px;
    width: 12px;
    background-color: #fa9c7d;
    display: inline-block;
}

.playful_square {
    height: 12px;
    width: 12px;
    background-color: #fbc779;
    display: inline-block;
}

.embarassed_square {
    height: 12px;
    width: 12px;
    background-color: #6ad2a7;
    display: inline-block;
}

.angry_square {
    height: 12px;
    width: 12px;
    background-color: #7ccdf8;
    display: inline-block;
}

.scared_square {
    height: 12px;
    width: 12px;
    background-color: #8d9dfa;
    display: inline-block;
}

.sad_square {
    height: 12px;
    width: 12px;
    background-color: #ca80e5;
    display: inline-block;
}

.happy_circle_n {
    height: 15px;
    width: 15px;
    background-color: #f7add6;
    display: inline-block;
    border-radius: 50%;  /* Makes it round */
}

.happy_circle_m {
    height: 22px;
    width: 22px;
    background-color: #f7add6;
    display: inline-block;
    border-radius: 50%;  /* Makes it round */
}

.happy_circle_h {
    height: 30px;
    width: 30px;
    background-color: #f7add6;
    display: inline-block;
    border-radius: 50%;  /* Makes it round */
}

.friends_square {
    height: 12px;
    width: 12px;
    background-color: #e45761;
    display: inline-block;
}

.family_square {
    height: 12px;
    width: 12px;
    background-color: #ffd86d;
    display: inline-block;
}

.nature_square {
    height: 12px;
    width: 12px;
    background-color: #59b257;
    display: inline-block;
}

.personal_square {
    height: 12px;
    width: 12px;
    background-color: #6cc4c7;
    display: inline-block;
}

.dataviz_square {
    height: 12px;
    width: 12px;
    background-color: #2f5e92;
    display: inline-block;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #091747;
}

