.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.happy {
  background-color: #ffd92f;
}
.red {
  background-color: lightblue;
}

.happy_dot {
    height: 14px;
    width: 14px;
    background-color: #ffd92f;
    border-radius: 50%;
    display: inline-block;
}

.happy_square {
    height: 12px;
    width: 12px;
    background-color: #ffd92f;
    display: inline-block;
}
